##
# Mandatory settings
#
ALLOWED_HOSTS=
SECRET_KEY=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

WEBCLIENT_URL=http://localhost:3000

##
# Optional settings
#
DEBUG=1
LANGUAGE_CODE=en-us
TIME_ZONE=UTC
