##
# Mandatory settings
#
ALLOWED_HOSTS=
SECRET_KEY=

PGDATABASE=
PGUSER=
PGPASSWORD=
PGHOST=
PGPORT=

RQ_REDIS_URL=redis://localhost:6379/0
RQ_TIMEOUT=360

##
# Optional settings
#
DEBUG=1
LANGUAGE_CODE=es-pe
TIME_ZONE=UTC
MEDIA_ROOT=

SCIHUB_USER=
SCIHUB_PASS=
SCIHUB_URL=https://scihub.copernicus.eu/dhus

# Path to otb bin directory
OTB_BIN_PATH=$HOME/OTB-7.0.0-Linux64/bin

# Path to sen2mosaic CLI directory
S2M_CLI_PATH=$HOME/sen2mosaic/cli
S2M_NUM_JOBS=2

# Path to gdal bin directory
GDAL_BIN_PATH=$HOME/OTB-7.0.0-Linux64/bin

# MODIS
MODIS_USER=
MODIS_PASS=

TILE_SERVER_URL=

REDIS_CACHE_URL=
REDIS_CACHE_KEY=cache
