[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pylint = "*"
rope = "*"

[packages]
dateutils = "*"
django = "==3.1.8"
django-anymail = {extras = ["mailgun"], version = "*"}
django-auditlog = {git = "https://github.com/dymaxionlabs/django-auditlog.git"}
django-cors-headers = "*"
django-extensions = "*"
django-jsoneditor = "*"
django-leaflet = "*"
django-rest-auth = {extras = ["with_social"], version = "*"}
djangorestframework = "==3.11.2"
djangorestframework-csv = "==2.1.0"
djangorestframework-gis = "==0.16"
django-rq = "==2.3.2"
django-storages = {extras = ["google"], version = "*"}
drf-yasg = "*"
gunicorn = "*"
honcho = "*"
pandas = "1.1.5"
pre-commit = "*"
psycopg2 = "==2.8.6"
python-dateutil = "*"
python-dotenv = "*"
rq = "*"
sentry-sdk = "*"
shapely = "*"
django-redis-cache = "==2.1.1"
django-jsonfield = "*"
pysftp = "*"
django-admin-hstore-widget = "*"

[requires]
python_version = "3"
