[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pylint = "*"

[packages]
django = "*"
pre-commit = "*"
python-dotenv = "*"
psycopg2 = "*"
djangorestframework = "*"
django-rest-auth = {extras = ["with_social"],version = "*"}
django-cors-headers = "*"
django-rq = "*"
rq = "*"
honcho = "*"
django-anymail = {extras = ["mailgun"],version = "*"}
django-storages = {extras = ["google"],version = "*"}
dateutils = "*"
sentinelsat = "*"
rasterio = "*"
djangorestframework-gis = "*"

[requires]
python_version = "3"
