[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pylint = "*"

[packages]
dateutils = "*"
django = "~=3.0.2"
django-anymail = {version = "*",extras = ["mailgun"]}
django-cors-headers = "*"
django-jsoneditor = "*"
django-rest-auth = {version = "*",extras = ["with_social"]}
django-rq = "*"
django-storages = {version = "*",extras = ["google"]}
djangorestframework = "~=3.10"
djangorestframework-gis = "~=0.15"
drf-yasg = "*"
honcho = "*"
pre-commit = "*"
psycopg2 = "~=2.8.4"
python-dotenv = "*"
rasterio = "*"
rq = "*"
sentinelsat = "*"
django-leaflet = "*"
gunicorn = "*"
sentry-sdk = "*"
geopandas = "*"

[requires]
python_version = "3"
