albumentations==0.4.6
attrs==20.1.0
fiona==1.8.17
keras==2.3.1
opencv-python==4.4.0.46
scikit-image==0.17.2
scikit-learn==0.23.2
sentinelsat==0.14
tensorflow==1.14
perusatproc
# sen2mosaic
#gdal (install manually)
pyshp==2.1.2
psutil==5.7.3
