[Unit]
Description=RQ worker
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=true
Environment=PATH=/home/ubuntu/.local/bin:/home/ubuntu/google-cloud-sdk/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin
User=ubuntu
Group=www-data
SyslogIdentifier=rqworker
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/home/ubuntu/satlomas-back
ExecStart=/bin/bash -c '/home/ubuntu/.local/share/virtualenvs/satlomas-back-O5su8kSy/bin/python /home/ubuntu/satlomas-back/manage.py rqworker'

[Install]
WantedBy=multi-user.target
